<div class="single-form-container">
  <div class="boxed-group">
    <div class="boxed-group-inner">
      <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
        <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <dl class="form">
          <dt> 请输入新密码： </dt>
          <dd> <%= f.password_field :password %> </dd>
        </dl>
        <dl class="form">
          <dt> 确认密码： </dt>
          <dd> <%= f.password_field :password_confirmation %> </dd>
        </dl>
        <p><%= f.submit "更新密码", :class => "button primary" %></p>
      <% end %>
    </div>
  </div>
</div>
