<div class="single-form-container">
  <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <dl class="form">
      <dt>
        New Password:
      </dt>
      <dd>
        <%= f.password_field :password %>
      </dd>
    </div>
    <dl class="form">
      <dt>
        Type Again:
      </dt>
      <dd>
        <%= f.password_field :password_confirmation %>
      </dd>
    </dl>
    <p><%= f.submit "Update Password", :class => "button primary" %></p>
  <% end %>
</div>
