<div class="single-form-container">
  <div class="boxed-group">
    <h3><%= t('reset_password') %></h3>
    <div class="boxed-group-inner">
      <%= form_tag password_resets_path, :method => :post do %>
        <dl class="form">
          <dt>
          <%= label_tag :email %>
          </dt>
          <dd>
          <%= text_field_tag :email, params[:email] %>
          </dd>
        </dl>
        <p>
        <%= submit_tag t('send_reset_password_email'), :class => "button primary" %>
        </p>
      <% end %>
    </div>
  </div>
</div>
