<%= content_for :template_js do %>
  <script>
    $("#comment-btn").click(function() {
      if ($.trim($('.new-comment-content textarea').val()) == "")
      {
        $('.new-comment-content .error').show();
        return false;
      }
    });
  </script>
<% end %>
<div class="bubble">
  <div class="bubble-inner">
    <div class="previewable-comment-form">
      <div class="comment-form-head tabnav">
        <ul class="tabnav-tabs">
          <li><a href="#" class="tabnav-tab write-tab selected"><%= t('edit') %></a></li>
          <li><%= link_to t('preview'), "#" , :class => "tabnav-tab preview-tab" %></li>
        </ul>
      </div>
      <div class="comment-content new-comment-content clearfix">
        <div class="error" style="display: none;">
          <%= t('error_blank_content') %>
        </div>
        <%= form_for(Comment.new(:video_id => @video.id, :user_id => current_user.id), :remote => true) do |f| %>
          <%= f.hidden_field :video_id %>
          <%= f.hidden_field :user_id  %>
          <%= f.text_area :content %>
          <br>
          <%= f.submit "#{t('publish_comment')}", :class => "btn btn-success", :id => "comment-btn", :disable_with => "sending..." %>
        <% end %>
      </div>
    </div>
  </div>
</div>
