<% executor = notification.executor %>
<% case notification.action %>
<% when "watch" %>
  <td class="notificon"><i class="icon-eye-open icon-2x"></i></td>
  <td>
    <%= link_to member_path(executor.name) do %>
      <%= image_tag executor.final_avatar_url, :class => "gavatar", :width => "30x30" %>
    <% end %>
    <%= link_to member_path(executor.name) do %>
      <span><%= executor.name %></span>
    <% end %>

    <% course = notification.notifiable %>
    <span class="annotate">关注了你的课程: </span>
    <%= link_to course.name, course_path(course) %>
    <%= time_ago_in_words notification.created_at %>前
  </td>
<% when "comment" %>
  <% comment = notification.notifiable %>
  <td class="notificon"><i class="icon-comments icon-2x"></i></td>
  <td>
    <%= link_to member_path(executor.name) do %>
      <%= image_tag executor.final_avatar_url, :class => "gavatar", :width => "30x30" %>
    <% end %>
    <%= link_to member_path(executor.name) do %>
      <span><%= executor.name %></span>
    <% end %>
    <span class="annotate">回复了你评论过的课程章节: </span>
    <%= link_to comment.video.title, video_comment_path(comment.id) %>
    <%= time_ago_in_words notification.created_at %>前
    <%- if comment.present? -%>
      <div class="comment-body markdown-format">
        <%= markdown comment.content %>
      </div>
    <%- end -%>
  </td>
<% end %>
