<% commentable = notification.notifiable.commentable %>
<% executor = notification.executor %>

<% case commentable.class.name.underscore %>
<% when "video" %>
  <td class="notificon"><i class="fa fa-comments fa-2x"></i></td>
  <td class="avatar">
    <%= link_to member_path(executor.name) do %>
      <%= image_tag executor.final_avatar_url, :class => "gavatar", :width => "30x30" %>
    <% end %>
  </td>
  <td class="event">
    <%= render :partial => "notification_executor", :locals => { :notification => notification } %>
    <% course = commentable.course %>
    <span class="annotate">
      <%= course.user == current_user ? '评论了你的课程' : '评论了你点评过的课程' %>
      (<%= link_to course.title, course_path(course) %>)的第
      <%= commentable.position %>个视频
      <%= link_to commentable.title, commentable_comment_path(notification.notifiable.id) %>
    </span>
    <div class="comment-body markdown-format">
      <%= markdown notification.notifiable.content %>
    </div>
  </td>
  <% when "post" %>
  <td class="notificon"><i class="fa fa-comments-o fa-2x"></i></td>
  <td class="avatar">
    <%= link_to member_path(executor.name) do %>
      <%= image_tag executor.final_avatar_url, :class => "gavatar", :width => "30x30" %>
    <% end %>
  </td>
  <td class="event">
    <%= render :partial => "notification_executor", :locals => { :notification => notification } %>
    <span class="annotate">
      <%= commentable.user == current_user ? '评论了你的文章' : '评论了你点评过的文章' %>
      <%= link_to commentable.title, blog_path(commentable) %>
    </span>
    <div class="comment-body markdown-format">
      <%= markdown notification.notifiable.content %>
    </div>
  </td>
<% end %>
