<% activity = notification.notifiable %>
<% action = notification.action %>
<% executor = notification.executor %>

<% case action %>
<% when "destroy" %>
<td class="notificon">
  <i class="fa fa-trash-o fa-2x"></i>
</td>
<td class="avatar">
  <%= link_to member_path(executor.name) do %>
    <%= image_tag executor.final_avatar_url, :class => "gavatar", :width => "30x30" %>
  <% end %>
</td>
<td class="event">
  <%= render :partial => "notification_executor", :locals => { :notification => notification} %>
  <span class="annotate"> 删除了一个视频</span>
</td>
<% when "create", "update" %>
  <% if activity.trackable.present? %>
    <td class="notificon">
      <i class="fa <%= action == "create" ? "fa-plus" : "fa-edit" %> fa-2x"></i>
    </td>
    <td class="avatar">
      <%= link_to member_path(executor.name) do %>
        <%= image_tag executor.final_avatar_url, :class => "gavatar", :width => "30x30" %>
      <% end %>
    </td>
    <td class="event">
      <%= render :partial => "notification_executor", :locals => { :notification => notification} %>
      <% if action == "create" %>
        <span class="annotate"> 上传一个新视频： </span>
      <% else %>
        <span class="annotate"> 更新了视频： </span>
      <% end %>
      <%= video_course_path(activity.trackable) %>
    </td>
  <% end %>
<% end %>
