<div id="notifications">
  <div class="container details">
    <div class="title">
      <div class="clear-all">
        <%= link_to "清空", clear_notifications_path, :method => "delete", :class => "btn-danger" %>
      </div>
      <div class="total">通知提醒<small> (<%= @notifications.count %> 条)</small></div>
    </div>
    <% if @notifications.blank? %>
      <div class="no-content">
        暂无通知
      </div>
    <% else %>
      <table class="content">
        <tbody>
          <% @notifications.each do |notification| %>
              <% type = notification.notifiable_type.underscore %>
              <tr class="<%= cycle("odd", "even") %><%= " highlight" if notification.unread %>">
                <%= render :partial => "notification_#{type}", :locals => { :notification => notification }%>
                <td class="time"><%= time_ago_in_words notification.created_at %>前</td>
                <td class="last"><%= link_to "删除", notification_path(notification),
                  :method => "delete", :class => "danger" %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <%= paginate @notifications, :window => 2 %>
  </div>
</div>
