<% content_for :template_js do %>
  <script>
    var jcrop_api; // Holder for the jcrop API
    var inputFile = $("#fileupload")[0];
    inputFile.addEventListener('click', function() {this.value = null;}, false);
    inputFile.addEventListener('change', readData, false);

    function readData(evt) {
      evt.stopPropagation();
      evt.preventDefault();

      var file = evt.dataTransfer !== undefined ? evt.dataTransfer.files[0] : evt.target.files[0];
      var reader = new FileReader();

      if (!file.type.match(/image.*/)) { return; }

      reader.readAsDataURL(file);

      reader.onload = function() {
        $('#avatar-cropbox')[0].src = this.result;
        $('#avatar_dataurl')[0].value = this.result;
      }

      if (jcrop_api) {
        jcrop_api.destroy();
      } else {
        init_jcrop();
      }

      $.colorbox({
        href: '#avatar-crop-modal',
        inline: true,
        onClosed: function(){
          $("#avatar-cropbox").removeAttr("src");
          $("#avatar-cropbox").removeAttr("style");
        }
      });
    }

   function init_jcrop() {
      $(document).bind('cbox_complete', function() {
        $('#avatar-cropbox').Jcrop({  //options
          onChange: update_crop,
          onSelect: update_crop,
          setSelect: [0, 0, <%= AvatarUploader::AVATAR_NW %>, <%= AvatarUploader::AVATAR_NH %>],  //设置一个初选框的位置
          aspectRatio: <%= AvatarUploader::AVATAR_NW %>/<%= AvatarUploader::AVATAR_NH %>,  //设置选择框高宽比,默认为任意
          bgColor: 'white'
          }, function(){
          jcrop_api = this;
        });
      });
    };

    function update_crop(coords) {
      $("#crop_x").val(Math.round(coords.x));
      $("#crop_y").val(Math.round(coords.y));
      $("#crop_w").val(Math.round(coords.w));
      $("#crop_h").val(Math.round(coords.h));
    }

    $('.modal-footer form').submit(function() {
      $(this).find("input[type='submit']").prop('disabled',true);
    });
  </script>
<% end %>

<div class="boxed-group">
  <h3><%= t('change_avatar') %></h3>
  <div class="boxed-group-inner">
    <p>
      <%= t('avatar_email') %>
      <b><%= @user.email %></b><br/>
      <%= t('upload_avatar') %><br/>
      <%= t('go_avatar') %>
      <%= link_to "Gravatar.com", "http://www.gravatar.com", :target => "_blank"  %>
    </p>
    <p> <b><%= t('or') %></b> </p>
    <p> <%= t('haoqicat_avatar') %> </p>
    <p><strong>提示：</strong> 为达到好的显示效果，建议上传的图片尺寸大于200x200像素</p>
    <p>
      <a class= "fileupload-btn button primary">
        <span id="upload-tip"><%= t('select_avatar') %></span>
        <input id="fileupload" name="user[avatar]" type="file">
      </a>
      <%= link_to("恢复Gravatar头像", "/restore_gravatar", :class => "button",
                  :method => :patch, :id => "restore_gravatar",
                  :style => "display:#{@user.use_avatar? ? '' : 'none'};") %>
    </p>
  </div>
</div>

<!-- Modal -->
<div style="display: none;">
  <div id="avatar-crop-modal" class="modal-box">
    <div class="modal-header">
      <h3 id="modal-label"><%= t('crop_avatar') %></h3>
    </div>
    <div class="modal-body">
      <div class="avatar-crop-box">
        <%= image_tag @user.avatar_url, :id => "avatar-cropbox" %>
      </div>
    </div>
    <div class="modal-footer">
      <%= form_for(@user, :url =>"/edit-avatar", :remote => true) do |f| %>
        <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
          <%= f.hidden_field attribute, :id => attribute %>
        <% end %>
        <%= f.hidden_field :avatar, :id => "avatar_dataurl" %>
        <%= f.submit t('crop_and_save'), :id => "avatar-crop-form", :class => "button primary right" %>
      <% end %>
    </div>
  </div>
</div>
