<div class="boxed-group">
  <h3><%= t('edit_profile') %></h3>
  <div class="boxed-group-inner">
    <%= form_for(@user,:url =>"/account" ) do |f| %>
      <%= f.hidden_field :name %>
      <dl class="form">
        <dt> <%= f.label :email %> </dt>
        <dd> <%= f.text_field :email %> </dd>
      </dl>
      <dl class="form">
        <dt> <%= f.label t('new_password')%> </dt>
        <dd> <%= f.password_field :password %> </dd>
      </dl>
      <dl class="form">
        <dt> <%= f.label t('password_confirm') %> </dt>
        <dd> <%= f.password_field :password_confirmation %> </dd>
      </dl>
      <p> <%= f.submit t('save'), :class => "button primary" %> </p>
    <% end %>
  </div>
</div>
