<% content_for :template_js do %>
  <%= javascript_include_tag 'i_fileupload'%>
  <script>
    var jcrop_api; // Holder for the jcrop API

    jQuery(function($) {
      var _tip = $("#upload-tip");
      $('#fileupload').fileupload({
          dataType: 'script',
          url: '/update_avatar',
          add: function(e, data){
            types = /(\.|\/)(gif|jpe?g|png)$/i;
            file = data.files[0];
            if (types.test(file.type) || types.test(file.name)) {
              data.submit();
            } else {
              alert(file.name + " 不是图片，请重新选择！");
            }
          },
          start: function(e) {
            _tip.html('上传中&nbsp;&middot;&middot;&middot;');
          },
          done: function (e, data) {
            if (jcrop_api) {
              jcrop_api.destroy();
            } else {
              init_jcrop();
            }
            $.colorbox({href:'#avatar-crop-modal', inline:true});
            _tip.html("点击上传头像");
          },
        });
      });

   function init_jcrop() {
      $(document).bind('cbox_complete', function() {
        $('#avatar-cropbox').Jcrop({  //options
          onChange: update_crop,
          onSelect: update_crop,
          setSelect: [0, 0, <%= AvatarUploader::AVATAR_NW %>, <%= AvatarUploader::AVATAR_NH %>],  //设置一个初选框的位置
          aspectRatio: <%= AvatarUploader::AVATAR_NW %>/<%= AvatarUploader::AVATAR_NH %>,  //设置选择框高宽比,默认为任意
          }, function(){
          jcrop_api = this;
        });
      });
    };

    function update_crop(coords) {
      var rx = <%= AvatarUploader::AVATAR_NW %>/coords.w;
      var ry = <%= AvatarUploader::AVATAR_NH %>/coords.h;
      // ratio = original_width / actual_width_of_other_version
      // here no other version, use original, so ratio is 1
      var ratio = 1;
      $("#crop_x").val(Math.round(coords.x * ratio));
      $("#crop_y").val(Math.round(coords.y * ratio));
      $("#crop_w").val(Math.round(coords.w * ratio));
      $("#crop_h").val(Math.round(coords.h * ratio));
    }
  </script>
<% end %>

<div class="boxed-group">
  <h3><%= t('change_avatar') %></h3>
  <div class="boxed-group-inner">
    <p>
      <%= t('avatar_email') %> <b><%= @user.email %></b><br/><%= t('upload_avatar') %><br/><%= t('go_avatar') %><%= link_to "Gravatar.com", "http://www.gravatar.com" %>
    </p>
    <p> <b><%= t('or') %></b> </p>
    <p> <%= t('haoqicat_avatar') %> </p>
    <p><strong>提示：</strong> 为达到好的显示效果，建议上传的图片尺寸大于200x200像素</p>
    <p>
      <a class= "fileupload-btn button primary">
        <span id="upload-tip"><%= t('select_avatar') %></span>
        <input id="fileupload" name="user[avatar]" type="file">
      </a>
    </p>
  </div>
</div>

<!-- Modal -->
<div style="display: none;">
  <div id="avatar-crop-modal">
    <div class="modal-header">
      <h3 id="modal-label"><%= t('crop_avatar') %></h3>
    </div>
    <div class="modal-body">
      <div class="avatar-crop-box">
        <%= image_tag @user.avatar_url, :id => "avatar-cropbox" %>
      </div>
    </div>
    <div class="modal-footer">
      <%= form_for(@user, :url =>"/crop") do |f| %>
      <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
      <%= f.hidden_field attribute, :id => attribute %>
      <% end %>

      <%= f.submit t('crop_and_save'), :id => "avatar-crop-form", :class => "button primary right" %>
      <% end %>
    </div>
  </div>
</div>
