<% content_for :template_js do %>
  <%= javascript_include_tag 'i_fileupload'%>
  <script>
    jQuery(function($) {
      var _tip = $("#upload-tip");
      $('#fileupload').fileupload({
          dataType: 'script',
          url: '/update_avatar',
          add: function(e, data){
            types = /(\.|\/)(gif|jpe?g|png)$/i;
            file = data.files[0];
            if (types.test(file.type) || types.test(file.name)) {
              data.submit();
            } else {
              alert(file.name + " 不是图片，请重新选择！");
            }
          },
          start: function(e) {
            _tip.html('上传中&nbsp;&middot;&middot;&middot;');
          },
          done: function (e, data) {
            _tip.html("上传成功！");
          },
        });
      });
    </script>
  <% end %>

  <div class="container">
    <div id="setting-container">
      <h1 class="setting-header"><%= t('edit_profile') %></h1>
      <div class="setting-content">
        <div class="setting-section">
          <div class="avatar-upload avatared">
            <%= image_tag @user.final_avatar_url,:alt => "Your Image", :size => "50x50", :id => "avatar" %>
            <a class= "fileupload-btn button primary">
              <span id="upload-tip"><%= t('select_avatar') %></span>
              <input id="fileupload" name="user[avatar]" type="file">
            </a>
          </div>
          <div class="avatared-content">
            <h3><%= t('dislike_default_avatar') %></h3>
            <%= t('avatar_email') %> <b><%= @user.email %></b><br/><%= t('upload_avatar') %><br/><%= t('go_avatar') %><%= link_to "Gravatar.com", "http://www.gravatar.com" %>
            <p> <b><%= t('or') %></b> </p>
            <p> <%= t('haoqicat_avatar') %> </p>
          </div>
        </div><!-- end setting-section -->
        <%= form_for(@user,:url =>"/account" ) do |f| %>
          <% if @user.errors.any? %>
            <div class="error_messages">
              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= f.hidden_field :name %>
          <div class="setting-section">
            <dl class="field">
              <dt> <%= f.label :email %> </dt>
              <dd> <%= f.text_field :email %> </dd>
            </dl>
            <dl class="field">
              <dt> <%= f.label t('new_password')%> </dt>
              <dd> <%= f.password_field :password %> </dd>
            </dl>
            <dl class="field">
              <dt> <%= f.label t('password_confirm') %> </dt>
              <dd> <%= f.password_field :password_confirmation %> </dd>
            </dl>
            <div class="actions">
              <%= f.submit t('save'), :class => "button primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
