<div class="container">
  <h1>Edit Profile</h1>

  <%= image_tag @user.final_avatar_url,:alt => "Your Image", :size => "50x50"%>

  <div>
    <h3> Do not like the default avatar?</h1>
    You can upload a avatar at
    <%= link_to "Gravatar.com", "http://www.gravatar.com" %>
    We are using Email: <%= @user.email %>
    <br>
    <b>Or</b>
    <br>
    you can upload your avatar here at haoqicat(this one will hold higher priority).
    <%= form_for @user,:url => update_avatar_path, :html => {:multipart => true} do |f| %>
      <p>
      <%= f.file_field :avatar %>
      <br>
      <br>
      <%= f.submit "upload image" %>
      </p>
    <% end %>
  </div>
  <%= form_for(@user,:url =>"/account" ) do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions"><%= f.submit "Update Info" %></div>
  <% end %>
</div>
