<div class="container">
  <div id="member-page" class="clearfix">
    <div class="title">
      <%= t 'member_count' %> <%= @count %>
    </div>
    <% if @users.blank? %>
      <%= t 'no_user_found' %>
    <% else %>
      <%= render :partial => "shared/member_list", :locals => {:members => @users} %>
    <% end %>
  </div>
  <%= paginate @users, :window => 2 %>
</div>
