<div class="container">
  <div class="auth-form" id="login">
    <div class="auth-form-header">
      <h1><%= t('login') %></h1>
    </div>

    <div class="auth-form-body">
      <%= form_tag "/submit_login_form" do %>
        <dl class="field">
          <dt>
          <%= label_tag t('username') %><br />
          </dt>
          <dd>
          <%= text_field_tag :name, params[:name] %>
          </dd>
        </dl>
        <dl class="field">
          <dt>
          <%= label_tag t('password') %><br />
          </dt>
          <dd>
          <%= password_field_tag :password %>
          </dd>
        </dl>
        <p><%= link_to "forgotten password?", new_password_reset_path %></p>
        <div> <%= submit_tag t('login'), :class => "btn" %> </div>
      <% end %>
    </div>
  </div>
</div>
