<div class="single-form-container">
  <div class="boxed-group" id="login">
    <h3><%= t('login') %></h3>
    <div class="boxed-group-inner">
      <%= form_tag "/create_login_session" do %>
        <dl class="form">
          <dt>
          <%= label_tag :login, t('username') %>
          </dt>
          <dd>
          <%= text_field_tag :login, params[:login], :class => "short" %>
          </dd>
        </dl>
        <dl class="form">
          <dt>
          <%= label_tag :password, t('password') %>
          </dt>
          <dd>
          <%= password_field_tag :password, params[:password], :class => "short" %>
          </dd>
        </dl>
        <p>
          <a href="/signup"><%= t('signup') %></a>
          <%= link_to t('forgot_password'), new_password_reset_path %>
        </p>
        <p> <%= submit_tag t('login'), :class => "button" %> </p>
      <% end %>
    </div>
  </div>
</div>
