<%= content_for :template_js do %>
  <script>
    jQuery(function($) {
      $('img#avatar').tooltip();
    });
  </script>
<% end %>
<div id="user-show" class="container">
  <div class="profilecols">
    <div class="first">
      <div class="avatared">
        <% if current_user == @user %>
          <a href="/account" title="click to change a new avatar">
        <% end %>
          <%= image_tag @user.final_avatar_url,:alt => "Your Image", :size => "210x210", :id => "avatar" %>
        <% if current_user == @user %>
          </a>
        <% end %>
      </div>
      <h1>
         <span>
           <%= @user.name %>
         </span>
         <em>
           <%= @user.email %>
         </em>
      </h1>
    </div>
    <div class="last">
      <% if current_user == @user %>
        <div class="tabnav-right">
          <%= link_to "edit profile", account_path, :class => "button" %>
        </div>
      <% end %>
      <hr class="soften">
      <div id="user-course">
        <h1>
          Courses:
        </h1>
        <% if current_user == @user %>
          <%= link_to "create a course", create_course_path, :class => "button" %>
        <% end %>
        <% @user.courses.each do |c| %>
          <%= render c %>
        <% end %>
      </div>
    </div>
  </class="profilecols">
</div><!-- user-show -->

