<div id="user-show" class="container clearfix">
  <div id="user-info">
    <div class="header">
      <div class="profile">
        <% if current_user == @user %>
          <%= link_to account_path, :class => "edit-profile-button" do %>
            <i class="fa fa-pencil fa-lg"></i>
          <% end %>
        <% end %>
        <%= image_tag @user.final_avatar_url, :alt => t('your_avatar') %>
      </div>
      <div class="name-email">
        <h2><%= @user.name %></h2>
        <p>
          <i class="fa fa-envelope-o"></i>
          <a href="mailto:<%= @user.email %>"><%= @user.email %></a>
        </p>
      </div>
    </div>
    <ul class="stats">
      <li><strong><%= @user.follower_count %></strong> <%= t('followers') %></li>
      <li><strong><%= @user.followed_user_count %></strong> <%= t('following') %></li>
    </ul>
    <% if current_user != @user %>
      <%= follow_user_tag(@user) %>
    <% end %>
  </div><!--end user-info -->
  <div id="user-course">
    <ul class="main-nav">
      <li class="active" data-course-type="owned">
        <a href="#owned-courses">创建的课程</a>
      </li>
      <li data-course-type="watched">
        <a href="#watched-courses">关注的课程</a>
      </li>
      <li data-course-type="paid">
        <a href="#paid-courses">购买的课程</a>
      </li>
    </ul>
    <div class="content owned-courses-section active clearfix">
      <% if @courses.present? %>
        <div class="courses-wrap">
          <% @courses.each do |course| %>
            <%= render "courses/course_list", :course => course %>
          <% end %>
        </div>
      <% else %>
        <p class="no-course">
          <i class="fa fa-smile-o fa-2x"></i>
          <%= t('no_courses_found') %>
          <% if current_user == @user %>
            <%= link_to create_course_path, :class => "new-course-button" do %>
            <%#= link_to "javascript:;", :class => "new-course-button" do %>
              <%= t('create_course') %>
              <!--创建课程暂不开放-->
              <i class='fa fa-hand-o-right fa-lg'></i>
            <% end %>
          <% end %>
        </p>
      <% end %>
      <div class="user-activity">
        <div class="seperator">
          <span class="mark">最新动态</span>
        </div>
        <% if @activities.present? %>
          <table class="activities-wrap">
            <% @activities.each do |activity| %>
              <% if @user == current_user %>
                <%= render "activities/user_activity", :activity => activity %>
              <% else %>
                <%= render "activities/user_activity", :activity => activity if Course.find(activity.course_id).public %>
              <% end %>
            <% end %>
          </table>
        <% else %>
          <p class="no-activity">
            <i class="fa fa-smile-o fa-2x"></i>
            <%= t('no_activities_found') %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="content paid-courses-section clearfix">
      <% if @paid_courses.present? and current_user == @user%>
        <div class="courses-wrap">
          <% @paid_courses.each do |course| %>
            <%= render "courses/course_list", :course => course %>
          <% end %>
        </div>
      <% else %>
        <p class="no-course">
          <i class="fa fa-smile-o fa-2x"></i>
          <%= t('no_courses_found') %>
        </p>
      <% end %>
    </div>
    <div class="content watched-courses-section clearfix">
      <% if @watched_courses.present? %>
        <div class="courses-wrap">
          <% @watched_courses.each do |course| %>
            <%= render "courses/course_list", :course => course %>
          <% end %>
        </div>
      <% else %>
        <p class="no-course">
          <i class="fa fa-smile-o fa-2x"></i>
          <%= t('no_courses_found') %>
        </p>
      <% end %>
    </div>
  </div><!--end user-course -->

</div><!-- user-show -->

<% content_for :template_js do %>
  <script>
    var menuItems = $(".main-nav li");
    var contentItems = $(".content");

    menuItems.on("click", function(event) {

      menuItems.removeClass("active");
      $(this).addClass("active");

      contentItems.removeClass("active");

      var type = $(this).data("course-type");

      if (type == "owned") {
        $(".owned-courses-section").addClass("active");
      }else if (type == "paid") {
        $(".paid-courses-section").addClass("active");
      }else {
        $(".watched-courses-section").addClass("active");
      }
    });
    if ($(".follow-user-button").data("followed")) {
      $(".follow-user-button").css('background-color','#34CF7A');
    }else {
      $(".follow-user-button").css('background-color','#2589CC');
    }
  </script>
<% end %>
