<div id="user-show" class="container">
  <div id="user-info">
    <div class="avatared">
      <% if current_user == @user %>
        <a href="/account" title="点击编辑个人信息">
          <%= image_tag @user.final_avatar_url, :alt => t('your_avatar'), :size => "210x210", :id => "avatar" %>
        </a>
        <%= link_to t('edit_profile'), account_path, :class => "button" %>
      <% else %>
        <%= image_tag @user.final_avatar_url, :alt => t('your_avatar'), :size => "210x210", :id => "avatar" %>
        <%= follow_user_tag(@user) %>
      <% end %>
    </div>
    <h1>
      <span><%= @user.name %></span>
    </h1>
    <p>
      <span>
        <i class="fa fa-envelope-o"></i>
        <a href="mailto:<%= @user.email %>"><%= @user.email %></a>
      </span>
    </p>
    <ul class="stats">
      <li><strong><%= @user.follower_count %></strong> followers</li>
      <li><strong><%= @user.followed_user_count %></strong> following</li>
    </ul>
  </div><!--end user-info -->
  <div id="user-course">
    <ul class="main-nav">
      <li class="active" data-course-type="owned">
        <a href="#owned-courses">我创建的课程</a>
      </li>
      <li data-course-type="watched">
        <a href="#watched-courses">我关注的课程</a>
      </li>
      <li data-course-type="paid">
        <a href="#paid-courses">我购买的课程</a>
      </li>
    </ul>
    <div class="content owned-courses-section active clearfix">
      <div class="new-course">
        <% if current_user == @user %>
          <%= link_to create_course_path, :class => "button primary" do %>
            <%= t('create_course') %>
            <i class='fa fa-hand-o-right fa-lg'></i>
          <% end %>
        <% end %>
      </div>
      <% if @courses.present? %>
        <div class="courses-wrap">
          <% @courses.each do |course| %>
            <%= render "courses/course_list", :course => course %>
          <% end %>
        </div>
      <% else %>
        <p class="no-course">
          <i class="fa fa-smile-o fa-2x"></i>
         <%= t('no_courses_found') %>
       </p>
      <% end %>
    </div>
    <div class="content paid-courses-section clearfix">
      <% if @paid_courses.present? and current_user == @user%>
        <div class="courses-wrap">
          <% @paid_courses.each do |course| %>
            <%= render "courses/course_list", :course => course %>
          <% end %>
        </div>
      <% else %>
        <p class="no-course">
          <i class="fa fa-smile-o fa-2x"></i>
         <%= t('no_courses_found') %>
       </p>
      <% end %>
    </div>
    <div class="content watched-courses-section clearfix">
      <% if @watched_courses.present? %>
        <div class="courses-wrap">
          <% @watched_courses.each do |course| %>
            <%= render "courses/course_list", :course => course %>
          <% end %>
        </div>
      <% else %>
        <p class="no-course">
          <i class="fa fa-smile-o fa-2x"></i>
         <%= t('no_courses_found') %>
       </p>
      <% end %>
    </div>
  </div><!--end user-course -->
</div><!-- user-show -->

<% content_for :template_js do %>
  <script>
    var menuItems = $(".main-nav li");
    var contentItems = $(".content");

    menuItems.on("click", function(event) {

      menuItems.removeClass("active");
      $(this).addClass("active");

      contentItems.removeClass("active");

      var type = $(this).data("course-type");

      if (type == "owned") {
        $(".owned-courses-section").addClass("active");
      }else if (type == "paid") {
        $(".paid-courses-section").addClass("active");
      }else {
        $(".watched-courses-section").addClass("active");
      }
    });
  </script>
<% end %>
