<%= content_for :template_js do %>
  <script>
    jQuery(function($) {
      $('img#avatar').tooltip();
    });
  </script>
<% end %>
<div id="user-show" class="container">
  <ul>
    <li id="user-info">
    <div class="avatared">
      <% if current_user == @user %>
        <a href="/account" title="click to change a new avatar">
        <% end %>
        <%= image_tag @user.final_avatar_url,:alt => "Your Image", :size => "210x210", :id => "avatar" %>
        <% if current_user == @user %>
          <%= link_to t('edit_profile'), account_path, :class => "button" %>
        </a>
      <% end %>
    </div>
    <h1>
      <span><%= @user.name %></span>
    </h1>
    <p>
    <span> <i class="icon-envelope"></i> <a href="mailto:<%= @user.email %>"> <%= @user.email %> </a> </span>
    </p>

    </li><!--end user-info -->
    <li id="user-course">
    <div class="user-course-header">
      <% if current_user == @user %>
        <%= link_to create_course_path, :class => "button primary new-course" do %>
          <%= t('create_course') %>
          <i class='icon-hand-right icon-large'></i>
        <% end %>
      <% end %>
      <h2><%= t('my_courses') %>:</h2>
    </div>
    <% if @courses.present? %>
      <div class="courses">
        <% @courses.each do |course| %>
          <%= render "courses/course", :course => course %>
        <% end %>
      </div>
    <% else %>
      <p><%= t('no_courses_found') %></p>
    <% end %>
    </li><!--end user-course -->
  </ul>
</div><!-- user-show -->
