<script>
  $(function() {
    $( document ).tooltip();
  });
</script>
<div id="user_show" class="container">
  <div id="user_name">
    name: <%= @user.name %>
  </div>
  <div class="avatared">
    <% if current_user == @user %>
      <a href="/account" title="click to change a new avatar">
    <% end %>
      <%= image_tag @user.final_avatar_url,:alt => "Your Image", :size => "210x210"%>
    <% if current_user == @user %>
      <a>
    <% end %>
  </div>
  <div id="user_email">
    Email: <%= @user.email %>
  </div>
  <% if current_user == @user %>
    <%= link_to "edit profile", account_path %>
    <br>
    <%= link_to "create a course", create_course_path, :class => "button" %>
  <% end %>
  <div id="user_course">
    <h1>
      My Courses:
    </h1>
    <% @user.courses.each do |c| %>
      <%= render c %>
    <% end %>
  </div>
  <div id="user_comments">
    <h1>
      Comments:
    </h1>
    <hr>
    <% for comment in  @user.comments %>
      <%= comment.content %>
      <hr>
    <% end %>
  </div>
</div><!-- user_show -->

