<div class="container">
  <%= form_for(@user,:url =>"/member") do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="auth-form">
      <div class="auth-form-header">
        <h1><%= t('signup') %></h1>
      </div>
      <div class="auth-form-body">
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.text_field :email %>
        </div>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation %>
        </div>
        <div><%= f.submit t('signup'), :class => "btn btn-primary" %></div>
      </div>
    </div>
  <% end %>
</div>
