<div class="single-form-container">
  <%= form_for(@user,:url =>"/members") do |f| %>
    <div class="boxed-group">
      <h3><%= t('signup') %></h3>
      <div class="boxed-group-inner">
        <dl class="form">
          <dt><%= f.label :name %></dt>
          <dd><%= f.text_field :name, class: "short" %></dd>
        </dl>
        <dl class="form">
          <dt> <%= f.label :email %></dt>
          <dd> <%= f.text_field :email, class: "short" %> </dd>
        </dl>
        <dl class="form">
          <dt> <%= f.label :password %> </dt>
          <dd> <%= f.password_field :password, class: "short" %> </dd>
        </dl>
        <p><%= f.submit t('signup'), :class => "button primary" %></p>
      </div>
    </div>
  <% end %>
</div>
