<div class="header header-logged-in">
  <div class="container clearfix">
    <a class="header-logo-wordmark" href="/">
      HAOQI
    </a>
    <ul class="top-nav">
      <li> <%= link_to "全部课程", course_index_path(:sort => "star") %></li>
      <li><a href="/timeline"><%= t("site_timeline") %></a></li>
      <li><a href="/blog"><%= t("blog") %></a></li>
			<li><a href="/about"><%= t("about") %></a></li>
    </ul>
    <ul id="user-links">
      <li><%= link_to notifications_path do %>
        <span class="notification-indicator <%= 'notification-indicator-unread' if @unread_count > 0 %>"><%= @unread_count %></span>
      <% end %>
      </li>
      <li> <%= link_to current_user.name, member_path(current_user.name), :class => "name" %> </li>
      <li> <%= link_to t("logout"), logout_path, method: "delete" %></li>
    </ul>
  </div>
</div>

