<%= form_for(@user,:url => "/members", :class => "home-signup") do |f|  %>
  <dl class="form">
    <dd>
    <%= f.text_field :name, :placeholder => t('signup_username'), :class => "short" %>
    </dd>
  </dl>
  <dl class="form">
    <dd>
      <%= f.text_field :email, :placeholder => "Email", :class => "short" %>
    </dd>
  </dl>
  <dl class="form">
    <dd>
      <%= f.password_field :password, :placeholder => t('password'), :class => "short" %>
    </dd>
  </dl>
  <p class="text-muted">注册后就可以关注你喜欢的课程了</p>
  <p><%= f.submit t("signup_free"), :class => "button button-block primary" %></p>
<% end %>
