<%= form_for(@user,:url => "/member", :class => "home-signup") do |f|  %>
  <div class="error-message">
    <%= flash[:notice] %>
  </div>
  <dl class="form">
    <dd>
      <%= f.text_field :name, :placeholder => "Pick a username" %>
    </dd>
    <% if flash[:error].present? %>
      <dd class="error">
        <%= flash[:error] %>
      </dd>
    <% end %>
  </dl>
  <dl class="form">
    <dd>
      <%= f.text_field :email, :placeholder => "Email" %>
    </dd>
    <% if flash[:alert].present? %>
      <dd class="error">
        <%= flash[:alert] %>
      </dd>
    <% end %>
  </dl>
  <dl class="form">
    <dd>
      <%= f.password_field :password, :placeholder => "Password"%>
    </dd>
  </dl>
  <div class="action"><%= f.submit t("signup_free"), :class => "btn btn-success" %></div>
<% end %>
