<div class="container">
  <div class="tag-cloud">
    <h1><%= t('what_to_learn') %></h1>
    <ul>
      <li class="tag-rails">
      <div class="tag-text">
        <h2><%= t('ror') %></h2>
        <p>
          <%= t('ror_des') %>
        </p>
      </div>
      </li>
      <li class="tag-html5">
      <div class="tag-text">
        <h2><%= t('h_c') %></h2>
        <p>
          <%= t('h_c_des') %>
        </p>
      </div>
      </li>
      <li class="tag-js">
      <div class="tag-text">
        <h2><%= t('js') %></h2>
        <p>
          <%= t('js_des') %>
        </p>
      </div>
      </li>
      <li class="tag-tdd">
      <div class="tag-text">
        <h2><%= t('tdd') %></h2>
        <p>
          <%= t('tdd_des') %>
        </p>
      </div>
      </li>
      <li class="tag-agile">
      <div class="tag-text">
        <h2><%= t('agile') %></h2>
        <p>
          <%= t('agile_des') %>
        </p>
      </div>
      </li>
      <li class="tag-github">
      <div class="tag-text">
        <h2><%= t('git_github') %></h2>
        <p>
          <%= t('git_github_des') %>
        </p>
      </div>
      </li>
    </ul>
  </div>
</div>
