<div class="container">
  <div class="order-container">
    <h3 class="order-title"> 商品信息 </h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>名称</th> <!-- Subject -->
          <th>价格</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @subject %></td>
          <td>￥<%= @price %></td>
        </tr>
      </tbody>
    </table>
    <div class="payment-form">
      <%= form_tag "/checkout" do %>
        <%= hidden_field_tag :course_id, @course.id %>
        <%= hidden_field_tag :order_id, @order.id %>
        <%= submit_tag t('checkout'), :class => "button primary large right" %>
      <% end %>
    </div>
  </div>
</div>




