<%= render "add_video_js", course: course %>

<div class="add-video-box clearfix">
  <div class="primary-info">
    <%= form_for(Video.new) do |f| %>
      <dl class="form">
        <dt><%= f.label :title %></dt>
        <dd><%= f.text_field :title, id: "video-title" %></dd>
      </dl>
      <dl class="form">
        <dt><%= f.label :desc %></dt>
        <dd>
          <%= f.text_area :desc, id: "video-desc", class: "long short", rows: '8' %>
        </dd>
      </dl>
      <dl class="form">
        <dt>
          <%= f.check_box :free %>
          <%= f.label :free %>
        </dt>
      </dl>
      <div class="video-button-group">
        <%= f.submit t('submit_video_info'), class: "button", :disabled => true, data: {disable_with: t('video_saving') + "..."}, id: "submit_video_info" %>
      </div>
    <% end %>
  </div>
  <div class="secondary-info">
    <a class= "fileupload-btn fileupload-video">
      <i class="fileupload-icon fa fa-upload fa-5x"></i>
      <input id="fileupload" name="video[asset]" type="file">
      <span id="upload-button-text">选择要上传的文件</span>
    </a>
    <p class='upload-tip'>
    格式支持mov和mp4。视频编码支持：h.264，声音编码支持：aac
    </p>
    <script id="template-upload" type="text/x-tmpl">
      <div class="upload">
        <div class="progress">
          <span id="progress-text"></span>
          <div class="bar" id="progress-bar">
          </div>
        </div>
      </div>
    </script>
  </div>
</div>
