<div class="add-video-box clearfix">
  <div class="primary-info">
    <%= form_for(Video.new) do |f| %>
      <dl class="form">
        <dt><%= f.label :title %></dt>
        <dd><%= f.text_field :title, id: "video-title" %></dd>
      </dl>
      <dl class="form">
        <dt><%= f.label :desc %></dt>
        <dd>
          <%= f.text_area :desc, id: "video-desc", class: "long short", rows: '8' %>
        </dd>
      </dl>
      <% if paid_course?(course) %>
      <dl class="form">
        <dt>
          <%= f.check_box :free %>
          <%= f.label :free %>
        </dt>
      </dl>
      <% end %>
      <div class="video-button-group">
        <%= f.submit t('submit_video_info'), class: "button", :disabled => true,
          data: {disable_with: t('video_saving') + "..."},
          id: "submit_video_info" %>
      </div>
    <% end %>
  </div>
  <div class="secondary-info">
    <ul class='upload-tip'>
      <li>视频大小：最大100M</li>
      <li>视频格式支持：mov，mp4</li>
      <li>视频编码支持：h.264</li>
      <li>声音编码支持：aac</li>
    </ul>
    <p id="video-filename"></p>
    <%= qiniu_video_uploader_form callback_url: videos_path,
      bucket:        "#{Settings.qiniu.bucket}",
      id:            'create-video-uploader',
      callback_method: 'POST',
      custom_fields: { course_id: course.id },
      progress_bar_id: 'progress-bar' do %>

      <a class="fileupload-btn fileupload-video">
        <i class="fileupload-icon fa fa-upload"></i>
        <input id="fileupload" name="file" type="file">
        <span id="upload-button-text">上传视频</span>
      </a>
      <div class="bar" id="progress-bar"></div>
    <% end %>

    <script id="template-upload" type="text/x-tmpl">
      <div class="upload">
        {%=o.name%}
        <div class="progress">
          <span id="progress-text">视频正在上传...</span>
          <div class="bar" style="width: 0%"></div>
        </div>
      </div>
    </script>
  </div>
</div>
