<% content_for :template_js do %>
  <%= javascript_include_tag 'i_fileupload'%>
  <script>
    jQuery(function($) {
      var _tip = $("#upload-tip");
      $('#fileupload').fileupload({
          dataType: 'script',
          url: '/videos.js',
          add: function(e, data){
            types = /(\.|\/)(mov|mp4)$/i;
            file = data.files[0];
            if (types.test(file.type) || types.test(file.name))
            {
              data.submit();
            }
            else
            {
              alert(file.name + " is not a mov or mp4 file");
            }
          },
          start: function(e) {
            _tip.html('Uploading&nbsp;&middot;&middot;&middot;');
          },
          done: function (e, data) {
            _tip.html("Upload done!");
          },
      });
    });
  </script>
<% end %>

<div class="add-video-box">
  <% if course.videos.empty? %>
    <% this_video_no = 1 %>
  <% else %>
    <% this_video_no = course.videos.reorder('no').last.no + 1 %>
  <% end  %>


  <div class="secondary-info">
    <h1> <%= "Upload video NO." + this_video_no.to_s %> </h1>
    Less than 50M/video in size, please!
    <a class= "fileupload-btn button">
      <span id="upload-tip">Select a Video to Upload</span>
      <input id="fileupload" name="video[asset]" type="file">
    </a>
  </div>

  <div class="primary-info">
    <h1> Edit the Details </h1>
    <%= form_for(Video.new(:course_id => course.id, :no => this_video_no)) do |f| %>
      <br>
      <%= f.hidden_field :course_id %>
      <%= f.hidden_field :no %>
      <%= f.label t("video_title") %>
      <%= f.text_field :title %>
      <br>
      <%= f.label t("video_desc") %>
      <%= f.text_field :desc %>
      <br>
      <br>
      <%= f.submit "Upload a Video to Save", :class => "minibutton", :disabled => true,  data: {disable_with: "submitting"},:id => "submit_video_info" %>
    <% end %>
  </div>
</div>
