<div class="box">
  <h3 class="box-header"><%= t("add_class") %></h3>
  <% if course.videos.empty? %>
    <% this_video_no = 0 %>
  <% else %>
    <% this_video_no = course.videos.reorder('no').last.no + 1 %>
  <% end  %>

  <div class="inner">
    <%= form_for(Video.new(:course_id => course.id)) do |f| %>
      <%= f.label t("video_no") %>
      <%= f.select :no, ((0..20).map {|i| [i,i] }),  :selected => this_video_no  %>
      (第0课为课程简介，第一课序号为1，以此类推)
      <br>
      <br>
      <%= f.hidden_field :course_id %>
      <% if not course.videos.empty? %>
        <%= f.label t("video_title") %>
        <%= f.text_field :title %>
        <br>
        <br>
      <% end %>
      <%= f.label t("video_link") %>
      <%= f.text_field :link %>
      <br>
      <br>
      <%= f.submit "#{t('add_this_video')}", :class => "btn btn-success", :id => "comment_btn" %>
    <% end %>
  </div>
</div>
