<% content_for :template_js do %>
  <%= javascript_include_tag 'i_fileupload'%>
  <script>
    jQuery(function($) {
      var _tip = $("#upload-tip");
      $('#fileupload').fileupload({
          formData: {course_id: <%= course.id %>},
          dataType: 'script',
          url: '/videos.js',
          add: function(e, data){
            types = /(\.|\/)(mov|mp4)$/i;
            file = data.files[0];
            if (types.test(file.type) || types.test(file.name))
            {
              if(file.size > 500000000){
                alert("上传失败：文件大小不能超过50M。请重新上传。");
              }
              else {
                $('#filesize').html("文件大小： " + "<span class='number'>" + (file.size/(1024*1024)).toFixed(2) + "</span>" + "M");
                data.submit();
              }
            }
            else
            {
              alert("上传失败：" + file.name + " 视频格式错误，请上传mov或mp4文件");
            }
          },
          start: function(e) {
            var filesize = parseFloat($('#filesize .number').text()); // in M.
            var step = 2;
            var progress = step;
            var timeForOneM = 10000;
            var timeDalay = 2000;
            var changeProgress = function(){
              progress = progress + step;
              $('.bar').css('width', progress + '%');
            }
            $('a').bind('click', false);
            var intId = setInterval(changeProgress, (timeForOneM*filesize)/(100/step));
            var uploadDone = function(){
              clearInterval(intId);
              var changeTip = function() {
                _tip.html('处理中&nbsp;&middot;&middot;&middot;');
                $('.upload').append("<h3>处理中...请稍等</h3>");
              }
              setTimeout(changeTip, timeDalay);
            }
            setTimeout(uploadDone, timeForOneM*filesize);//5000 is the time consumed to upload 1M data.
            _tip.html('上传中&nbsp;&middot;&middot;&middot;');
          },
          done: function (e, data) {
            _tip.html("视频上传成功！");
             $('.upload h3').text('处理完毕，视频上传成功！');
            $('a').unbind('click', false);
          },
      });
    });
  </script>
<% end %>


<div class="add-video-box">
  <div class="secondary-info">
    <h1 id="upload-new-video"> <%= t('upload_new_video') %> </h1>
    <div id="filesize">
      <p><%= t('note_max_video_size_50m') %></p>
      <p><%= t('supported_video_format') %></p>
      <p><%= t('wait_upload') %></p>
    </div>
    <a class= "fileupload-btn button">
      <span id="upload-tip"><%= t('click_to_upload_a_video') %></span>
      <input id="fileupload" name="video[asset]" type="file">
    </a>
    <div class="upload">
      <div class="progress">
        <div class="bar">
        </div>
      </div>
    </div>
  </div>

  <div class="primary-info">
    <h1><%= t('enter_video_info') %></h1>
    <%= form_for(Video.new) do |f| %>
      <dl class="field">
        <dt>
          <%= f.label t("video_title") %>
        </dt>
        <dd>
          <%= f.text_field :title %>
        </dd>
      </dl>
      <dl class="field">
        <dt>
        <%= f.label t("video_desc") %>
        </dt>
        <dd>
        <%= f.text_area :desc, :size => "14x4", :id => "video_desc" %>
        </dd>
      </dl>
      <%= f.submit t('submit_video_info'), :class => "minibutton", :disabled => true, data: {disable_with: t('saving') + "..."}, :id => "submit_video_info" %>
    <% end %>
  </div>
</div>
