<% content_for :template_js do %>
  <%= javascript_include_tag 'i_fileupload'%>
  <script>
    jQuery(function($) {
      var _tip = $("#upload-tip");
      $('#fileupload').fileupload({
          dataType: 'script',
          autoUpload: true,
          url: '/videos.js',
          maxFileSize: 1024 * 1024 * 5,
          acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
          start: function(e) {
            _tip.html('上传中&nbsp;&middot;&middot;&middot;');
          },
          done: function (e, data) {
            alert('upload complete');
          },
          always: function(e) {
            _tip.html("上传");
          },
      });
    });
  </script>
<% end %>

<div class="box">
  <% if course.videos.empty? %>
    <% this_video_no = 0 %>
  <% else %>
    <% this_video_no = course.videos.reorder('no').last.no + 1 %>
  <% end  %>
  <h3 class="box-header"><%= "add video NO." + this_video_no.to_s %></h3>
  <a class= "fileupload-btn action_label">
    <span id="upload-tip"> 上传</span>
    <input id="fileupload" name="video[asset]" type="file">
  </a>

  <div class="inner">
    <%= form_for(Video.new(:course_id => course.id, :no => this_video_no)) do |f| %>
      <br>
      <%= f.hidden_field :course_id %>
      <%= f.hidden_field :no %>
      <%= f.label t("video_title") %>
      <%= f.text_field :title %>
      <%= f.label t("video_desc") %>
      <%= f.text_field :desc %>
      <br>
      <br>
      <%= f.submit "#{t('add_this_video')}", :class => "btn btn-success", :disabled => true,  data: {disable_with: "submitting"},:id => "submit_video_info" %>
    <% end %>
  </div>
</div>
