<div class="playlist-container">
  <ul id="play-list" class="playlist" data-update-url="/sort_videos">
    <% course.videos.each do |video| %>
      <%= content_tag_for :li, video do %>
        <a class="video" href="<%= course_path(video.course) + '/' + video.position.to_s + '/edit.js' %>" data-remote='true'>
          <span class="video-info edit-video-info">
            <%= video.title %>
            <%= "(免费)" if video.free? && paid_course?(course) %>
          </span>
        </a>
        <a href="<%= course_path(video.course) + '/' + video.position.to_s + '/edit.js' %>"
          data-remote='true'>
          <div class="pencil-icon">
             <i class="fa fa-pencil"></i>
          </div>
        </a>
      <% end %>
    <% end %>
    <li class="add-video-btn">
      <%= link_to course_path(course) + '/add_video.js', class: "video active", remote: true do %>
        <div class="video-icon">
          <i class="fa fa-plus fa-lg"></i>
        </div>
        <span class="video-info"> 添加新视频</span>
      <% end %>
    </li>
  </ul>
</div>

<%= content_for :template_js do %>
  <script>
    $("ul.playlist > li").hover(
      function() {
        var text = "<div class='list-icon'><i class='fa fa-th-list'></i></div>";
        var a = $(this).hasClass('video');
        if(a == true) {
          $(this).prepend(text);
        }
      },
      function() {
        $("div.list-icon").remove();
      }
    );

    $(function() {
      $('#play-list').sortable({
        axis: 'y',
        cancel: 'a',
        update: function() {
          $.post($(this).data('update-url'), $(this).sortable('serialize'));
          location.reload();// to update all the position value
        }
      });
    });
  </script>
<% end %>
