<div class="playlist-container">
  <ul id="play-list" class="playlist" data-update-url="/sort_videos">
    <% course.videos.each do |video| %>
      <%= content_tag_for :li, video do %>
        <a class="video" href="<%= course_path(video.course) + '/' + video.position.to_s + '/edit.js'  %> " data-remote='true'>
          <i class="icon-facetime-video"></i>
          <%= video.title %>
        </a>
        <%= link_to "delete", video, :method =>"delete", :class => "delete-action", :confirm => "Are you sure?" %>
      <% end %>
    <% end %>
  </ul>
</div>

<%= content_for :template_js do %>
  <script>
    jQuery(function() {
      return $('#play-list').sortable({
        axis: 'y',
        update: function() {
          $.post($(this).data('update-url'), $(this).sortable('serialize'));
          location.reload();// to update all the position value
        }
      });
    });
  </script>
<% end %>
