<div class="playlist-container">
  <ul id="play-list" class="playlist" data-update-url="/sort_videos">
    <% course.videos.each do |video| %>
      <%= content_tag_for :li, video do %>
        <a class="video" href="<%= course_path(video.course) + '/' + video.position.to_s + '/edit.js'  %> " data-remote='true'>
          <div class="video-icon">
            <i class="icon-facetime-video"></i>
          </div>
          <span class="video-info">
            <%= video.title %>
            <%= "(free)" if video.free? %>
          </span>
        </a>
        <%= link_to t('delete'), video, :method =>"delete", :class => "delete-action", :confirm => t('confirm_delete') %>
      <% end %>
    <% end %>
  </ul>
</div>

<%= content_for :template_js do %>
  <script>
    jQuery(function() {
      return $('#play-list').sortable({
        axis: 'y',
        update: function() {
          $.post($(this).data('update-url'), $(this).sortable('serialize'));
          location.reload();// to update all the position value
        }
      });
    });
  </script>
<% end %>
