<div class="course-list clearfix">
  <div class="user-course-header">
    <i class="fa fa-clock-o"></i>
    <span class="date"><%= course.created_at.strftime("%B %d, %Y") %></span>
    <span class="watcher">/ 关注人数 <%= course.watchers.count %></span>
  </div>
  <%= link_to course_path(course) do %>
    <%= image_tag course.poster_url %>
  <% end %>
  <div class="meta">
    <div>
      <span class="title"><%= link_to course.title, course_path(course) %></span>
      <% if !course.public %>
        <span class="lock"><i class="fa fa-lock fa-lg"></i></span>
      <% end %>
    </div>
    <div class="desc">
      <%= course.description %>
    </div>
    <div class="details">
      <i class="fa fa-video-camera"></i><span class="tip">视频: <%= course.videos.count %></span>
    </div>
    <div class="details">
      <i class="fa fa-money"></i><span class="tip">价格: <%= course.price.present? ? course.price : 0 %> 元</span>
    </div>
    <div class="details">
      <i class="fa fa-user"></i><span class="tip">作者: <%= link_to course.user.name, member_path(course.user.name) %></span>
    </div>
  </div>
  <%= link_to "查看课程", course_path(course), :class => "course-button" %>
</div>
