<div class="course">
  <a class="course-thumb green-box-shadow" href="<%= course_path course %>">
    <div class="poster-area" style="background-image: url(<%= course.poster_url %>);">
    </div>
    <div class="course-info">
      <h4> <%= course.title %></h4>
      <p>  <%= course.description %> </p>
      <p> Author: <%= course.user.name %> </p>
    </div>
  </a>
</div>

