<li class="repo grid-1 <%= course.cat %>">
  <a href="/courses/<%= course.name%>">
    <h2> <%= course.name %> </h2>
    <h3> <%= course.cat.titleize %> </h3>
    <p>
       <%=course.description %>
    </p>
  </a>
  </li>

