<li class="repo grid-1 <%= course.cover %>">
  <a href="/courses/<%= course.id %>">
    <h2> <%= course.name %> </h2>
    <h3> <%= course.cover.titleize %> </h3>
    <p>
       <%=course.description %>
    </p>
  </a>
  </li>

