<div class="course-intro">
  <h3><%= t('course_intro') %></h3>
  <p><%= @course.description %></p>
  <dl>
    <dt><%= t('publish_time') %></dt>
    <dd><%= @course.created_at.strftime(t('date.formats.default')) %></dd>
    <dt><%= t('update_time') %></dt>
    <dd><%= @course.updated_at.strftime(t('date.formats.default')) %></dd>
  </dl>
</div>
