<% content_for :template_js do %>
  <script>
    $(".toggle label").click(function() {
      var token = $(".toggle label i").hasClass("fa-lock");
      var lock = '<i class="fa fa-lock"> 私有</i>';
      var unlock = '<i class="fa fa-unlock-alt"> 公开</i>';
      if (token) {
        $(".toggle label i").replaceWith(unlock);
      }else{
        $(".toggle label i").replaceWith(lock);
      }
    });

    $("#course-title").bind("input", function() {
      if ($(this).val() == '') {
        $("#update-course-btn").attr("disabled", true);
        $("#js-errors").html("课程标题不能为空").fadeIn();
        setTimeout(function() { $("#js-errors").fadeOut(); }, 3000);
      } else {
        $("#update-course-btn").attr("disabled", false);
      }
    });

    //following codes are for course poster crop
    var jcrop_api; // Holder for the jcrop API
    var inputFile = $("#poster-fileupload")[0];
    inputFile.addEventListener('click', function() {this.value = null;}, false);
    inputFile.addEventListener('change', readData, false);

    function readData(evt) {
      evt.stopPropagation();
      evt.preventDefault();

      var file = evt.dataTransfer !== undefined ? evt.dataTransfer.files[0] : evt.target.files[0];
      var reader = new FileReader();

      if (!file.type.match(/image.*/)) { return; }

      reader.readAsDataURL(file);

      reader.onload = function() {
          $('#poster-cropbox')[0].src = this.result;
          $('#poster-dataurl')[0].value = this.result;
        }

      if (jcrop_api) {
        jcrop_api.destroy();
      } else {
        init_jcrop();
      }

      $.colorbox({
        href: '#poster-crop-modal',
        inline: true,
        onClosed: function(){
          $("#poster-cropbox").removeAttr("src");
          $("#poster-cropbox").removeAttr("style");
        }
      });
    }

   function init_jcrop() {
      $(document).bind('cbox_complete', function() {
        $('#poster-cropbox').Jcrop({  //options
          onChange: update_crop,
          onSelect: update_crop,
          setSelect: [0, 0, <%= PosterUploader::POSTER_NW %>, <%= PosterUploader::POSTER_NH %>],  //设置一个初选框的位置
          aspectRatio: <%= PosterUploader::POSTER_NW %>/<%= PosterUploader::POSTER_NH %>,  //设置选择框高宽比,默认为任意
          bgColor: 'white'
          }, function(){
          jcrop_api = this;
        });
      });
    };

    function update_crop(coords) {
      $("#crop_x").val(Math.round(coords.x));
      $("#crop_y").val(Math.round(coords.y));
      $("#crop_w").val(Math.round(coords.w));
      $("#crop_h").val(Math.round(coords.h));
    }

    $('.modal-footer form').submit(function() {
      $(this).find("input[type='submit']").prop('disabled',true);
    });
  </script>
<% end %>

<!-- Modal -->
<div style="display: none;">
  <div id="poster-crop-modal" class="modal-box">
    <div class="modal-header">
      <h3 id="modal-label"><%= t('crop_poster') %></h3>
    </div>
    <div class="modal-body">
      <div class="poster-crop-box">
        <%= image_tag @course.poster_url, :id => "poster-cropbox" %>
      </div>
    </div>
    <div class="modal-footer">
      <%= form_for(course, :url =>"/update_poster", :remote => true) do |f| %>
        <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
          <%= f.hidden_field attribute, :id => attribute %>
        <% end %>
        <%= f.hidden_field :poster, :id => "poster-dataurl" %>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :name %>
        <%= f.submit t('crop_and_save'), :id => "poster-crop-form", :class => "button primary right" %>
      <% end %>
    </div>
  </div>
</div>

<div class="course-wrap clearfix">
  <div id="edit-course-delete">
    <%= link_to t("delete_this_course"), course, :confirm => t("confirm_delete"),
    :method => :delete, :class => "minibutton danger" %>
    <%= link_to t("go_back"), course, :class => "minibutton" %>
  </div>

  <%= form_for course, :url => '/course' do |f| %>
    <%= f.hidden_field :id %>
      <% if course.errors.any? %>
        <div id="error-message">
          <div class="title">不能保存课程信息有 <strong><%= course.errors.count %></strong> 个错误:</div>
          <ul class="list">
          <% course.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div id="js-errors"></div>
      <div class="course-card">
        <div class="poster">
          <%= image_tag course.poster_url, :id => "poster" %>
          <a class= "fileupload-btn">
            <i class="fa fa-pencil fa-lg"></i>
            <input id="poster-fileupload" name="course[poster]" type="file" title="编辑课程封面">
          </a>
        </div>
        <%= f.text_field :title, :placeholder => "不求惊世骇俗，但求意义明确", :id => "course-title" %>
        <%= f.text_area :description, :rows => "6", :id => "course-desc", :placeholder => "这是一门实用的课程" %>
      </div>

      <div class="course-extra-info">
        <div class="item">
          <%= f.label :price %>
          <div class="price-sign">
            <span class="input-fixed-content">￥/元</span>
            <%= f.text_field :price, :placeholder => "免费" %>
          </div>
        </div>
        <div class="item ui toggle checkbox">
          <%= f.check_box :public %>
          <label for="course_public">
            <% if course.public == true %>
              <i class="fa fa-unlock-alt"> 公开</i>
            <% else %>
              <i class="fa fa-lock"> 私有</i>
            <% end %>
          </label>
        </div>
        <div class="item">
          <%= f.submit t("update_course"), :class => "button", :id => "update-course-btn" %>
        </div>
      </div>
  <% end %>
</div>
