<script>
  jQuery(function($) {
    var _tip = $("#upload-tip");
    $('#fileupload').fileupload({
      url: '/update_video/<%= video.id %>',
      add: function(e, data){
        types = /(\.|\/)(mov|mp4)$/i;
        file = data.files[0];
        if (types.test(file.type) || types.test(file.name))
        {
          data.submit();
        }
        else
        {
          alert("上传失败：" + file.name + " 视频格式错误，请上传mov或mp4文件");
        }
      },
      start: function(e) {
        _tip.html('上传中&nbsp;&middot;&middot;&middot;');
        $('#submit_video_info').attr('value', '上传中...请稍等');
        $('#submit_video_info').attr('disabled', 'true');
      },
      done: function (e, data) {
        _tip.html("视频上传成功！");
        $('#submit_video_info').attr('value', '保存');
        $('#submit_video_info').removeAttr('disabled');
      },
    });
  });
</script>

<div class="add-video-box">
  <div class="secondary-info">
    <h1 id="edit-a-video"> <%= t('reupload_video') + video.position.to_s %> </h1>
    <a class= "fileupload-btn button">
      <span id="upload-tip"><%= t('click_to_upload_a_video') %></span>
      <input id="fileupload" name="video[asset]" type="file">
    </a>
  </div>

  <div class="primary-info">
    <h1><%= t('enter_video_info') %></h1>
    <%= form_for video do |f| %>
      <dl class="field">
        <dt>
          <%= f.hidden_field :id %>
          <%= f.label t("video_title") %>
        </dt>
        <dd>
          <%= f.text_field :title %>
        </dd>
      </dl>
      <dl class="field">
        <dt>
        <%= f.label t("video_desc") %>
        </dt>
        <dd>
        <%= f.text_area :desc, :size => "18x4", :id => "video_desc" %>
        </dd>
      </dl>
      <%= f.submit t('save'), :class => "minibutton", data: {disable_with: t('saving') + "..."},:id => "submit_video_info" %>
      <%= link_to t('cancel'), edit_course_path(video.course), :class => "minibutton"%>
    <% end %>
  </div>
</div>
