<% content_for :template_js do %>
  <script>
    $('#course_desc').NobleCount('#desc_count',{
      on_negative: 'go_red',
      on_positive: 'go_green',
      max_chars: 33});
  </script>
<% end %>

<%= form_for(course, :url => "/course") do |f| %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :name %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="course-wrap clearfix">
    <div id="edit-course-delete">
      <%= link_to t('delete_this_course'), course, :confirm => t('confirm_delete'),
      :method => :delete, :class => "minibutton danger" %>
    </div>
    <div class="course-card">
      <div class="poster">
        <%= image_tag course.poster_url, id: 'poster'%>
        <a class= "fileupload-btn button">
          <i class="fa fa-edit"></i>
          <input id="poster-fileupload" name="course[poster]" type="file">
        </a>
      </div>
      <%= f.text_field :title, placeholder: "不求惊世骇俗，但求意义明确", id: "course-title" %>
      <%= f.text_area :description, rows: '6', id: "course-desc", placeholder: "这是一门实用的课程" %>
    </div>
    
    <div class="course-extra-info">
      <div class="item">
        <%= f.label :price %>
        <div class="price-sign">
          <span class="input-fixed-content">￥/元</span>
          <%= f.text_field :price, :placeholder => "根据你的课程制定一个合理的价格" %>
        </div>
      </div>
      <div class="item">
        <%= f.check_box :public %>
        <%= f.label :public %>
      </div>
      <div class="item">
        <%= f.submit t('update_course'), :class => "button" %>
        <span class="cancle"><%= link_to "取消", course_path(course) %></span>
      </div>
    </div>
  </div>
<% end %>