<script>
  jQuery(function($) {
    var updateVideoForm;
    updateVideoForm = $("form#update-video-uploader");
    if (updateVideoForm.length > 0) {
      updateVideoForm.QiniuUploader({
        autoUpload: true,
        singleFileUploads: true,
        removeProgressBarWhenCompleted: false,
        onFilesAdd: function(file) {
          types = /(\.|\/)(mov|mp4)$/i;
          if (types.test(file.type) || types.test(file.name)) {
            if (file.size > 100000000) {
              alert("上传失败：" + file.name + " 视频太大，超过100M");
              return false;
            } else {
              return true;
            }
          } else {
            alert("上传失败：" + file.name + " 视频格式错误，请上传mov或mp4文件");
            return false;
          }
        }
      });
      updateVideoForm.bind("qiniu_upload_start", function(e) {
        $('#submit_video_info').attr('value', '视频正在上传');
        $('#submit_video_info').attr('disabled', 'true');
        $('a.fileupload-btn').bind('click', false);
      });
      updateVideoForm.bind("qiniu_upload_complete", function(e, data) {
        $('#submit_video_info').attr('value', '保存视频信息');
        $('#submit_video_info').removeAttr('disabled');
        $('#progress-text').html("视频上传成功！");
        $('#video-filename').html("视频文件名： " + "<strong>" + data.fname + "</strong>");
      });
    }
  });
</script>
<div class="add-video-box clearfix">
  <div class="video-delete-btn">
    <%= link_to "删除本视频", video, :method => "delete", class: "danger minibutton",
      :confirm => t('confirm_delete') %>
  </div>
  <div class="primary-info">
    <%= form_for video do |f| %>
      <dl class="form">
        <dt>
          <%= f.hidden_field :id %>
          <%= f.label :title %>
        </dt>
        <dd><%= f.text_field :title, id: "video-title" %></dd>
      </dl>
      <dl class="form">
        <dt><%= f.label :desc %></dt>
        <dd>
          <%= f.text_area :desc, id: "video-desc", class: "long short", rows: '8' %>
        </dd>
      </dl>
      <% if paid_course?(video.course) %>
      <dl class="form">
        <dt>
          <%= f.check_box :free %>
          <%= f.label :free %>
        </dt>
      </dl>
      <% end %>
      <div class="video-button-group">
        <%= f.submit t('update_video_info'), class: "button",
          data: { disable_with: t('video_saving') + "..." },
          id: "submit_video_info" %>
      </div>
    <% end %>
  </div>
  <div class="secondary-info">
    <ul class='upload-tip'>
      <li>视频大小：最大100M</li>
      <li>视频格式支持： mov, mp4</li>
      <li>视频编码支持：h.264</li>
      <li>声音编码支持：aac</li>
    </ul>
    <p id="video-filename">视频文件名: <b><%= video.filename %></b></p>
    <%= qiniu_video_uploader_form callback_url: "/update_video/#{video.id}",
      callback_method: 'PATCH',
      bucket:        "#{Settings.qiniu.bucket}",
      id:            'update-video-uploader',
      progress_bar_id: 'progress-bar' do %>

      <a class="fileupload-btn fileupload-video">
        <i class="fileupload-icon fa fa-upload"></i>
        <input id="fileupload" name="file" type="file">
        <span id="upload-button-text">更新视频</span>
      </a>
      <div class="bar" id="progress-bar"></div>
    <% end %>

    <script id="template-upload" type="text/x-tmpl">
      <div class="upload">
        {%=o.name%}
        <div class="progress">
          <span id="progress-text">视频正在上传...</span>
          <div class="bar" style="width: 0%"></div>
        </div>
      </div>
    </script>
  </div>
</div>
