<script>
  jQuery(function($) {
    var _tip = $("#upload-tip");
    $('#fileupload').fileupload({
      url: '/update_video/<%= video.id %>',
      add: function(e, data){
        types = /(\.|\/)(mov|mp4)$/i;
        file = data.files[0];
        if (types.test(file.type) || types.test(file.name))
        {
          data.submit();
        }
        else
        {
          alert(file.name + " is not a mov or mp4 file");
        }
      },
      start: function(e) {
        _tip.html('Uploading&nbsp;&middot;&middot;&middot;');
        $('#submit_video_info').attr('value', 'Uploading...plz wait');
        $('#submit_video_info').attr('disabled', 'true');
      },
      done: function (e, data) {
        _tip.html("Upload done!");
        $('#submit_video_info').attr('value', 'Save');
        $('#submit_video_info').removeAttr('disabled');
      },
    });
  });
</script>

<div class="add-video-box">
  <div class="secondary-info">
    <h1 id="edit-a-video"> <%= "Reupload video NO." + video.position.to_s %> </h1>
    <a class= "fileupload-btn button">
      <span id="upload-tip">Select a Video to Upload</span>
      <input id="fileupload" name="video[asset]" type="file">
    </a>
  </div>

  <div class="primary-info">
    <h1> Edit the Details </h1>
    <%= form_for video do |f| %>
      <br>
      <%= f.hidden_field :id %>
      <%= f.label t("video_title") %>
      <br>
      <%= f.text_field :title %>
      <br>
      <%= f.label t("video_desc") %>
      <br>
      <%= f.text_field :desc %>
      <br>
      <br>
      <%= f.submit "Save", :class => "minibutton", data: {disable_with: "saving..."},:id => "submit_video_info" %>
      <%= link_to "Cancel", edit_course_path(video.course), :class => "minibutton"%>
    <% end %>
  </div>
</div>
