<%= form_for(@course, :url => "/course") do |f| %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :name %>
  <%= flash[:notice] %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label t('course_title') %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label t('course_description') %><br />
    <%= f.text_area :description, :size => "30x10" %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

