<video id="html5-player" class="video-js vjs-default-skin" controls preload="auto"
  width="840" height="<%= (840 / video.ratio).to_i %>" data-setup="{}">
  <source src="<%= Settings.video.store %>/<%= video.id %>.mp4" type='video/mp4'>
</video>
<div class="download-btn">
  <%= link_to t('download_video'), "<%= Settings.video.store %>/<%= video.id %>.mp4"), class: "minibutton primary" %>
</div>t
