<ul class="nav nav-pills nav-stacked">
  <% videos.each do |video| %>
    <% if video.no == current_video.no %>
      <li class = "active">
        <% if video.no == 0 %>
          <a href="<%= course_path video.course %>">
            <i class="icon-facetime-video"></i>
            <%= t("course_intro") %>
          </a>
        <% else %>
          <a href="<%= course_path(video.course) + "/" + video.no.to_s %>">
            <i class="icon-facetime-video"></i>
            第 <%= video.no %> 课
          </a>
        <% end %>
      </li>
    <% else %>
      <li>
        <% if video.no == 0 %>
          <a href="<%= course_path video.course %>">
            <i class="icon-facetime-video"></i>
            <%= t("course_intro") %> 
          </a>
        <% else %>
          <a href="<%= course_path(video.course) + "/" + video.no.to_s %>">
            <i class="icon-facetime-video"></i>
            第 <%= video.no %> 课
          </a>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
