<% content_for :template_js do %>
  <%= javascript_include_tag 'i_fileupload'%>
  <script>
    jQuery(function($) {
      var _tip = $("#poster-upload-tip");
      $('#poster-fileupload').fileupload({
          dataType: 'script',
          url: '/update_poster/<%= @course.id %>',
          add: function(e, data){
            types = /(\.|\/)(gif|jpe?g|png)$/i;
            file = data.files[0];
            if (types.test(file.type) || types.test(file.name))
            {
              data.submit();
            }
            else
            {
              alert(file.name + " is not a image file");
            }
          },
          start: function(e) {
            _tip.html('Uploading&nbsp;&middot;&middot;&middot;');
          },
          done: function (e, data) {
            _tip.html("Upload done!");
          },
      });
    });
  </script>
<% end %>
<div class='container'>
  <div id="tutorial-page">
    <div class="tutorial-nav">
      <% if current_user %>
        <%= link_to "Cancel", @course, :class => "minibutton" %>
      <% end %>
      <% if @course.videos %>
        <%= render "all_added_videos", :course => @course %>
      <% end %>
      <div class="edit-course-info-area">
          <h1><%= t('course_poster') %></h1>
          <a class= "fileupload-btn button">
            <span id="poster-upload-tip">Select a Poster to Upload</span>
            <input id="poster-fileupload" name="course[poster]" type="file">
          </a>
          <%= image_tag @course.poster_url , :id => 'poster'%>
          <%= render 'update_form', :course => @course %>
      </div>
    </div>
    <div class="tutorial-content">
      <% if current_user %>
        <%= render "add_video", :course => @course %>
      <% end %>
    </div>
  </div>

</div>
