<% content_for :template_js do %>
  <%= javascript_include_tag 'i_fileupload'%>
  <script>
    jQuery(function($) {
      var _tip = $("#poster-upload-tip");
      $('#poster-fileupload').fileupload({
          dataType: 'script',
          url: '/update_poster/<%= @course.id %>',
          add: function(e, data){
            types = /(\.|\/)(gif|jpe?g|png)$/i;
            file = data.files[0];
            if (types.test(file.type) || types.test(file.name))
            {
              data.submit();
            }
            else
            {
              alert(file.name + " 不是图片，请重新选择！");
            }
          },
          start: function(e) {
            _tip.html('上传中&nbsp;&middot;&middot;&middot;');
          },
          done: function (e, data) {
            _tip.html("课程封面修改成功!");
          },
      });
    });
  </script>
<% end %>
<div class='container'>
  <div id="tutorial-page">
    <div class="tutorial-nav">
      <h3>
        <%= @course.title %>
        <%= link_to t('go_back'), @course, :class => "button" %>
      </h3>
      <% if @course.videos %>
        <%= render "all_added_videos", :course => @course %>
      <% end %>
      <div class="edit-course-info-area">
        <div id="edit-course-poster">
          <p><%= t('course_poster') %>(<%= t('course_poster_dimension') %>)</p>
          <div class="poster-preview"><%= image_tag @course.poster_url , :id => 'poster'%></div>
          <a class= "fileupload-btn button primary">
            <span id="poster-upload-tip"><%= t('change_poster') %></span>
            <input id="poster-fileupload" name="course[poster]" type="file">
          </a>
        </div>
        <div id="edit-course-desc">
          <%= render 'update_form', :course => @course %>
        </div>
      </div>
    </div>
    <div class="tutorial-content">
      <%= render "add_video", :course => @course %>
    </div>
  </div>
</div>
