<% content_for :template_js do %>
  <%= javascript_include_tag 'i_fileupload'%>
  <script>
    jQuery(function($) {
      var _tip = $("#poster-upload-tip");
      $('#poster-fileupload').fileupload({
          dataType: 'script',
          url: '/update_poster/<%= @course.id %>',
          add: function(e, data){
            types = /(\.|\/)(gif|jpe?g|png)$/i;
            file = data.files[0];
            if (types.test(file.type) || types.test(file.name))
            {
              data.submit();
            }
            else
            {
              alert(file.name + " 不是图片，请重新选择！");
            }
          },
          start: function(e) {
            _tip.html('上传中&nbsp;&middot;&middot;&middot;');
          },
          done: function (e, data) {
            _tip.html("课程封面修改成功!");
          },
      });
    });
  </script>
<% end %>

<div class="course-section clearfix">
  <%= render "edit_course_info", :course => @course %>
</div>

<div class='container'>
  <div class="tutorial-page">  
    <div class="boxed-group">
      <h3>视频</h3>
      <div class="boxed-group-inner">
        <div class="tutorial-nav">
          <% if @course.videos.present? %>
            <%= render "all_added_videos", :course => @course %>
          <% else %>
            <p>
            目前还没有视频，点击右侧的<strong>上传视频</strong>按钮上传视频吧。
            </p>
          <% end %>
        </div><!-- end tutorial-nav -->
        <div class="tutorial-content">
          <%= render "add_video", :course => @course %>
        </div>
      </div>  <!-- boxed-group-inner -->
    </div> <!-- boxed-group -->
  </div><!-- end tutorial-page -->
</div>
