<% content_for :template_js do %>
  <%= javascript_include_tag 'i_fileupload'%>
  <script>
    jQuery(function($) {
      var _tip = $("#poster-upload-tip");
      $('#poster-fileupload').fileupload({
          dataType: 'script',
          url: '/update_poster/<%= @course.id %>',
          add: function(e, data){
            types = /(\.|\/)(gif|jpe?g|png)$/i;
            file = data.files[0];
            if (types.test(file.type) || types.test(file.name))
            {
              data.submit();
            }
            else
            {
              alert(file.name + " 不是图片，请重新选择！");
            }
          },
          start: function(e) {
            _tip.html('上传中&nbsp;&middot;&middot;&middot;');
          },
          done: function (e, data) {
            _tip.html("课程封面修改成功!");
          },
      });
    });
  </script>
<% end %>
<div class='container'>
  <div id="tutorial-page">
    <div class="tutorial-nav">
      <h1><%= @course.title %></h1>
      <% if @course.videos %>
        <%= render "all_added_videos", :course => @course %>
      <% end %>
      <div class="edit-course-info-area">
          <p><%= t('course_poster') %></p>
          <a class= "fileupload-btn button">
            <span id="poster-upload-tip"><%= t('change_poster') %></span>
            <input id="poster-fileupload" name="course[poster]" type="file">
          </a>
          <%= image_tag @course.poster_url , :id => 'poster'%>
          <%= render 'update_form', :course => @course %>
      </div>
      <% if current_user %>
        <%= link_to t('go_back'), @course, :class => "minibutton" %>
        <%= link_to t('delete_this_course'), @course, :confirm => '确定要删除吗?', :method => :delete, :class => "minibutton" %>
      <% end %>
    </div>
    <div class="tutorial-content">
      <% if current_user %>
        <%= render "add_video", :course => @course %>
      <% end %>
    </div>
  </div>
</div>
