<div class='container'>
  <div id="tutorial-page">
    <div class="tutorial-nav">
      <% if current_user %>
        <%= link_to "Cancel", @course, :class => "minibutton" %>
      <% end %>
      <% if @course.videos %>
        <%= render "all_added_videos", :course => @course %>
      <% end %>
    </div>
    <div class="tutorial-content">
      <% if current_user %>
        <%= render "add_video", :course => @course %>
      <% end %>
    </div>
  </div>

   <div class="edit-course-info-area">
     <%= render 'form', :course => @course %>
     <hr>
     <h1><%= t('course_poster') %></h1>
     <%= form_for @course,:url => update_poster_path, :html => {:multipart => true} do |f| %>
       <p>
       <%= f.hidden_field :id %>
       <%= f.file_field :poster %>
       <br>
       <br>
       <%= f.submit "upload poster" %>
       </p>
     <% end %>
     <%= image_tag @course.poster_url %>
   </div>
</div>
