<div class='container'>
  <% if not @video %>
    <h1><%= @course.title %></h1>
    <div class="alert">
      <%= t('no_classes') %>
      <% if @course.user == current_user %>
        <%= link_to t('edit_course'), edit_course_path(@course), class: "minibutton" %>
        <%= link_to 'Delete This Course', @course, :confirm => 'Are you sure?', :method => :delete, :class => "minibutton" %>
      <% end %>
    </div>
  <% else %>

    <div id="tutorial-page">
      <div class="tutorial-nav">
        <% if @course.user == current_user %>
          <%= link_to t('edit_course'), edit_course_path(@course), class: "minibutton" %>
        <% end %>
        <%= render "play_list", :course => @course, :video => @video %>
        <%= render "course_info", :course => @course %>
      </div>
      <div class="tutorial-content">
        <%= render "video_info", :video => @video %>
        <%= render "video_player", :video => @video %>
        <div id="comments">
          <h3><%= t("comment") %></h3>
          <%= render @video.comments %>
        </div>
        <% if current_user %>
          <%= render "comments/new_comment_form" %>
        <% else %>
          <div id="login_buttons">
            <%= link_to t("login_and_comment"), login_path(:return_to => request.url) ,:class => "btn btn-success" %>
          </div>
          <br \>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
