<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @course.name %>
  <br>
  <b>Cover:</b>
  <%= @course.cover %>
  <br>
  <b>Desc:</b>
  <%= @course.description %>
</p>

<% if can? :edit, :course %>
  <%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>
