<div class="pagehead clearfix">
  <div class="container">
    <ul class="pagehead-actions">
      <% if owner?(@course) %>
        <% if paid_course?(@course) %>
          <li><%= link_to t('add_collaborator'), course_collab_path, :class => "minibutton" %></li>
        <% end %>
      <% end %>
      <% if not @course.open_to_user?(current_user) %>
        <li>
          <%= link_to t('buy_this_course') + "（￥" + @course.price.to_s + "）", new_order_path + "?course_id=#{@course.id}", :class => "minibutton primary" %>
        </li>
      <% end %>
      <li>
      <%= course_watch_tag(@course) %>
      <% if owner?(@course) %>
        <%= link_to "关注人数", course_watchers_path, :class => "social-count-title" %>
      <% end %>
      <%= link_to @course.watchers.count, course_watchers_path, :class => "social-count" %>
      </li>
    </ul>
    <h1 class="pagehead-heading">
      <div class="course-image" style="background-image: url(<%= @course.poster_url %>);"></div>
      <span class="author">
        <%= link_to @course.user.name, member_path(@course.user.name), :class => "author" %>
      </span>
      <span class="pagehead-name-divider">/</span>
      <strong><%= link_to @course.title, course_path(@course) %></strong>
      <% if !paid_course?(@course) %>
        <span class="ui teal label">免费</span>
      <% end %>
    </h1>
    <br>
    <p class="course-desc"><%= auto_link @course.description %></p>
  </div>
</div>
<div class='container'>
  <% if not @video %>
    <h1><%= @course.title %></h1>
    <div class="alert">
      <%= t('no_classes') %>
      <% if owner?(@course) %>
        <%= link_to t('edit_course'), edit_course_path(@course), :class => "minibutton" %>
        <%= link_to t('delete_this_course'), @course, :confirm => t('confirm_delete'),
          :method => :delete, :class => "minibutton" %>
      <% end %>
    </div>
  <% else %>

    <div class="tutorial-page">
      <div class="tutorial-nav">
        <%= render "play_list", :course => @course, :current_video => @video %>
        <div class="course-update-time">
          <i class="fa fa-clock-o"></i>
          <span><%= t('update_time') %></span>
          <span><%= link_to @course.updated_at.strftime(t('date.formats.default')), timeline_course_path %></span>
        </div>

      </div>
      <div class="tutorial-content">
        <%= render "video_info", :video => @video %>
        <% if @course.open_to_user?(current_user) || @video.open_to_user?(current_user) %>
          <%= render :partial => "video_player", :locals => {:video => @video, :video_link => @video_link } %>
        <% else %>
          <%= link_to t('pay_for_course_please'), new_order_path + "?course_id=#{@course.id}",
            :class => "button primary" %>
        <% end %>
        <div id="comments">
          <h3><%= t("comment") %></h3>
          <%= render @video.comments %>
        </div>
        <% if current_user %>
          <%= render "comments/new_comment_form", :commentable => @video %>
        <% else %>
          <div id="login_buttons">
            <%= link_to t("login_and_comment"), login_path(:return_to => request.url),
              :class => "minibutton primary" %>
          </div>
          <br>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<% content_for :template_js do %>
  <script>
    $("textarea#comment_content").keydown(function(e) {
      if ((e.ctrlKey||e.metaKey) && e.keyCode == 13) {
        $("input[type=submit]").click();
      }
    });
  </script>
<% end %>
