<div class="container">
  <div class="box">
    <div class="box-header"> </div>
    <div class="inner">
      <%= form_for @post do |f| %>
        <%= f.text_field :title %>
        文章标题
        <br> <br>
        <%= render 'shared/fileupload_widget', :textarea_selector => "textarea#post_content" %>
        <%= f.text_area :content , :id => "post_content", :row => 5, :style => "width: 100%" %>
        <br>
        <%= f.submit :class=>"minibutton" %>
      <% end %>
    </div>
  </div>
