.container
  .box
    .box-header
    .inner
      = form_for @post do |f|
        = f.text_field :title
        <br>
        <br>
        = render 'shared/fileupload_widget', :textarea_selector => "textarea#post_content" if Settings.upyun.switch == 'on'
        = f.text_area :content , :id => "post_content", :row => 5, :style => "width: 98%"
        <br>
        = f.submit t("create_blog"), :class=>"btn"
