<div class="blog-post">
  <h2 class="blog-post-title">
    <%= link_to post.title, blog_path(post) %>
  </h2>
  <ul class="blog-post-meta">
    <li>
      <i class="fa fa-calendar"></i>
      <%= post.created_at.strftime('%Y-%m-%d') %>
    </li>
    <li>
      <%= image_tag post.user.final_avatar_url, :alt => "头像", :class => "author-avatar" %>
      <% if post.user %>
        <%= link_to post.user.name, member_path(post.user.name) %>
      <% end %>
    </li>
  </ul>
  <div class="blog-markdown-body markdown-format">
    <%= markdown post.content %>
    <% if current_user && current_user.admin? %>
      <%= link_to t("edit_blog"), edit_blog_path(post), :class => "minibutton" %>
    <% end %>
  </div>
  <div class="blog-comments">
    <%= link_to "#{blog_path(post)}#comments" do %>
      <%= post.comments.count %> 评论
     <% end %>
  </div>
</div>
