<div class="container">
  <div class="blog">
      <div class="post-listing">
        <%= render @post %>
      <div id="comments">
        <h3><%= t("comment") %></h3>
        <%= render @post.comments %>
      </div>
      <% if current_user %>
        <%= render "comments/new_comment_form", :commentable => @post %>
      <% else %>
        <div id="login_buttons">
          <%= link_to t("login_and_comment"), login_path(:return_to => request.url),
            :class => "minibutton primary" %>
        </div>
        <br>
      <% end %>
    </div>
  </div>
</div>
