<div class="menu-container">
  <ul class="menu">
    <li><a class="<%= request.path == "/styleguide/css"? "active":"" %>" href="/styleguide/css">Overview</a></li>
    <li><a class="<%= request.path == "/styleguide/css/1.0"? "active":"" %>" href="/styleguide/css/1.0">Buttons</a></li>
    <li><a class="<%= request.path == "/styleguide/css/2.0"? "active":"" %>" href="/styleguide/css/2.0">Colors</a></li>
    <li><a class="<%= request.path == "/styleguide/css/3.0"? "active":"" %>" href="/styleguide/css/3.0">Comments</a></li>
    <li><a class="<%= request.path == "/styleguide/css/4.0"? "active":"" %>" href="/styleguide/css/4.0">Menus</a></li>
    <li><a class="<%= request.path == "/styleguide/css/5.0"? "active":"" %>" href="/styleguide/css/5.0">Course Cards</a></li>
    <li><a class="<%= request.path == "/styleguide/css/6.0"? "active":"" %>" href="/styleguide/css/6.0">Tables</a></li>
    <li><a class="<%= request.path == "/styleguide/css/7.0"? "active":"" %>" href="/styleguide/css/7.0">Boxed Grounps</a></li>
    <li><a class="<%= request.path == "/styleguide/css/8.0"? "active":"" %>" href="/styleguide/css/8.0">Froms</a></li>
    <li><a class="<%= request.path == "/styleguide/css/9.0"? "active":"" %>" href="/styleguide/css/9.0">Member List</a></li>
  </ul>
</div>
