<div class="tl-wrap">
  <div class="timestamp">
    <div class="date">
      <div class="year"><%= Time.now.year %></div>
      <span class="month"><%= Time.now.strftime("%B").slice(0..2) %> <%= Time.now.day %></span>
    </div>
  </div>
  <div class="tl-content clearfix">
    <div class="tl-middleline">
      <% i = 0 %>
      <% groups.each do |group| %>
        <% first = true %>
        <div class="month-group clearfix">
          <% group.each do |value| %>
            <% p = value.first.course %>
            <% if p.public %>
              <div class= "<%= cycle("pull-left", "pull-right") %> <%= " first" if first %>">
                <div class="project">
                  <%= image_tag p.user.final_avatar_url %>
                  <%= link_to p.user.name, member_path(p.user.name) %> /
                  <%= link_to p.title, course_path(p) %>
                </div>
                <ul>
                  <% value.each do |activity| %>
                    <%= render 'activity', :activity => activity %>
                  <% end %>
                </ul>
              </div>
              <% first = false %>
            <% end %>
          <% end %>
        </div>
        <div class="timestamp">
          <div class="date">
            <% flag = date[i].year == date[i+1].year %>
            <div class="<%= flag ? "noyear" : "year" %>">
              <%= date[i+1].year unless flag %>
            </div>
            <span class="month"><%= date[i+1].strftime("%B").slice(0..2) %> <%= date[i+1].day %></span>
          </div>
        </div>
        <% i = i + 1 %>
      <% end %>
    </div>
  </div>
</div>