<div class="container">
  <h1 class="timeline-title"> <%= t "course_timeline" %></h1>
  <div class="tl-wrap tl-course">
    <div class="timestamp">
      <div class="date">
        <div class="year"><%= Time.now.year %></div>
        <span class="month"><%= Time.now.month %>.<%= Time.now.day %></span>
      </div>
    </div>
    <div class="tl-content clearfix">
      <div class="tl-middleline">
        <% i = 0 %>
        <% @groups.each do |group| %>
          <div class="month-group clearfix">
            <% group.each do |activity| %>
              <div class= "<%= cycle("pull-left", "pull-right") %>">
                <div class="project"></div>
                <ul>
                  <%= render 'activity', :activity => activity %>
                </ul>
              </div>
            <% end %>
          </div>
          <div class="timestamp">
            <div class="date">
              <div class="year">
                <%= @date[i+1].year unless @date[i].year == @date[i+1].year %>
              </div>
              <span class="month"><%= @date[i+1].month %>.<%= @date[i+1].day %></span>
            </div>
          </div>
          <% i = i + 1 %>
        <% end %>
      </div>
    </div>
  </div>
</div>
