<div class="container">
  <div class="timeline-title">
    <%= link_to @course.title, course_path(@course) %>
    <div class="author">
      <%= link_to member_path(@user.name) do %>
        <%= image_tag @user.final_avatar_url %>
      <% end %>
      <span class="update-count"> ( 倾情打造 <b><%= @count %></b> 次 )</span>
    </div>
  </div>
  <% if @count != 0 %>
    <div class="tl-wrap tl-course">
      <div class="timestamp">
        <div class="date">
          <div class="year"><%= Time.now.year %></div>
          <span class="month"><%= Time.now.strftime("%B").slice(0..2) %> <%= Time.now.day %></span>
        </div>
      </div>
      <div class="tl-content clearfix">
        <div class="tl-middleline">
          <% i = 0 %>
          <% @groups.each do |group| %>
            <% first = true %>
            <div class="month-group clearfix">
              <% group.each do |activity| %>
                <div class="<%= cycle("pull-left", "pull-right") %><%= " first" if first %>">
                  <div class="project"></div>
                  <ul>
                    <%= render 'activity', :activity => activity %>
                  </ul>
                </div>
                <% first = false %>
              <% end %>
            </div>
            <div class="timestamp">
              <div class="date">
                <% flag = @date[i].year == @date[i+1].year %>
                <div class="<%= flag ? "noyear" : "year" %>">
                  <%= @date[i+1].year unless flag %>
                </div>
                <span class="month"><%= @date[i+1].strftime("%B").slice(0..2) %> <%= @date[i+1].day %></span>
              </div>
            </div>
            <% i = i + 1 %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
