<div class="container">
  <h1 class="timeline-title"> <%= t "site_timeline" %></h1>
  <div class="tl-wrap">
    <div class="timestamp">
      <div class="date">
        <div class="year"><%= Time.now.year %></div>
        <span class="month"><%= Time.now.month %>.<%= Time.now.day %></span>
      </div>
    </div>
    <main class="tl-content clear">
      <% i = 0 %>
      <% @groups.each do |group| %>
        <% group.each do |key, value| %>
          <% p = Course.find(key) %>
          <% if p.public %>
            <div class= "<%= cycle("pull-left", "pull-right") %>">
              <div class="project">
                <%= image_tag p.user.final_avatar_url %>
                <%= link_to p.user.name, member_path(p.user.name) %> /
                <%= link_to Course.find(key).title, course_path(Course.find(key)) %>
              </div>
              <ul>
                <% value.each do |activity|%>
                  <%= render 'activity', :activity => activity %>
                <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>
        <div class="timestamp">
          <div class="date">
            <div class="year">
              <%= @date[i+1].year unless @date[i].year == @date[i+1].year %>
            </div>
            <span class="month"><%= @date[i+1].month %>.<%= @date[i+1].day %></span>
          </div>
        </div>
        <% i = i + 1 %>
      <% end %>
    </main>
  </div>
</div>
