<!DOCTYPE html>
<html>
<head>
  <title>HaoqiCat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="icon" type="image/x-image" href="/favicon.ico">

  <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37482490-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
  <%= csrf_meta_tags %>
</head>
<body class="chinese">
  <div id="wrapper">
    <% if current_user %>
      <%= render "shared/header_logged_in" %>
    <% else %>
      <%= render "shared/header_logged_out" %>
    <% end %>

    <%= content_for?(:content) ? yield(:content) : yield %>

<!-- Footer
    ================================================== -->
    <div id="footer-push"></div><!-- hack for sticky footer -->
  </div><!-- end of wrapper - hack for sticky footer -->
  <div id="footer">
    <div class="container">
      <hr class="footer-divider">
      <dl class="footer_nav">
        <dt>关于本站</dt>
        <dd><a href="/blog"><%= t('blog') %></a></dd>
        <dd><a href="/about"><%= t('about') %></a></dd>
        <dd><a href="http://weibo.com/u/3227150452"><%= t('weibo') %></a></dd>
      </dl>
      <dl class="footer_nav">
        <dt>More</dt>
        <dd><a href="/member"><%= t('member') %></a></dd>
        <dd><a href="http://cool.haoqicat.com"><%= t('cool') %></a></dd>
      </dl>
      <br>
      <hr class="footer-divider">
      <p class="right">© 2013 Haoqicat Inc. All rights reserved.</p>
    </div>
  </div>
  <!-- end of footer -->

  <%= javascript_include_tag "application" %>
  <%= yield :template_js %>
</body>
</html>
