<!DOCTYPE html>
<html>
<head>
  <title>HaoqiCat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="icon" type="image/x-image" href="/favicon.ico">
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37482490-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
  <%= csrf_meta_tags %>
</head>
<body class="chinese">
  <div id="wrapper">
    <% if current_user %>
      <%= render "shared/header_logged_in" %>
    <% else %>
      <%= render "shared/header_logged_out" %>
    <% end %>
    <div class="flash-message">
      <%= flash[:notice] %>
    </div>

    <%= content_for?(:content) ? yield(:content) : yield %>

<!-- Footer
    ================================================== -->
    <div id="footer-push"></div><!-- hack for sticky footer -->
  </div><!-- end of wrapper - hack for sticky footer -->
  <div id="footer">
    <div class="container">
      <hr class="footer-divider">
      <dl class="footer_nav">
        <dt><%= t('about_haoqicat') %></dt>
        <dd><a href="/blog"><%= t('blog') %></a></dd>
        <dd><a href="/about"><%= t('about') %></a></dd>
        <dd><a href="http://weibo.com/u/3227150452"><%= t('weibo') %></a></dd>
      </dl>
      <dl class="footer_nav">
        <dt><%= t('more') %></dt>
        <dd><a href="/member"><%= t('member') %></a></dd>
        <dd><a href="http://cool.haoqicat.com"><%= t('cool') %></a></dd>
        <dd><a href="/styleguide/css">Style Guide</a></dd>
      </dl>
      <dl class="footer_nav" style="display: none">
        <dt><%= t('International') %></dt>
        <dt>
        <form action="/set_locale">
          <select id="language-picker" name="locale" onchange="this.form.submit()">
            <option value="zh-CN" <%= "selected" if not cookies[:locale] == 'en' %>> Chinese </option>
            <option value="en" <%= "selected" if cookies[:locale] == 'en' %>> English</option>
          </select>
          <noscript><input type="submit" value="submit"></noscript>
        </form>
        </dt>
      </dl>
      <br>
      <hr class="footer-divider">
      <p class="right">© 2013 Haoqicat Inc. All rights reserved.</p>
    </div>
  </div>
  <!-- end of footer -->

  <%= javascript_include_tag "application" %>
  <%= yield :template_js %>
</body>
</html>
