<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HaoqiCat</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link rel="icon" type="image/x-image" href="/favicon.ico">
  <link href="http://vjs.zencdn.net/4.3/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/4.3/video.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37482490-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

  <script type="text/javascript">
    window.I18n = <%= current_translations.to_json.html_safe %>
  </script>
  <%= csrf_meta_tags %>
</head>
<body class="chinese">
  <div id="wrapper">
    <% if current_user %>
      <%= render "shared/header_logged_in" %>
    <% else %>
      <%= render "shared/header_logged_out" %>
    <% end %>
    <div class="flash-message">
      <%= flash[:notice] %>
    </div>

    <%= content_for?(:content) ? yield(:content) : yield %>

<!-- Footer
    ================================================== -->
    <div id="footer-push"></div><!-- hack for sticky footer -->
  </div><!-- end of wrapper - hack for sticky footer -->
  <div id="footer">
    <hr class="footer-divider">
    <div class="container">
      <dl class="footer_nav">
        <dt><%= t('about_haoqicat') %></dt>
        <dd><a href="/blog"><%= t('blog') %></a></dd>
        <dd><a href="/about"><%= t('about') %></a></dd>
      </dl>
      <dl class="footer_nav">
        <dt><%= t('more') %></dt>
        <dd><a href="/members"><%= t('member') %></a></dd>
        <dd><a href="http://cool.haoqicat.com"><%= t('cool') %></a></dd>
        <dd><a href="http://money.haoqicat.com"><%= t('haoqicat-money') %></a></dd>
        <dd><a href="/styleguide/css">Style Guide</a></dd>
      </dl>
      <dl class="footer_nav" style="display: none">
        <dt><%= t('International') %></dt>
        <dt>
        <form action="/set_locale">
          <select id="language-picker" name="locale" onchange="this.form.submit()">
            <option value="zh-CN" <%= "selected" if not cookies[:locale] == 'en' %>> Chinese </option>
            <option value="en" <%= "selected" if cookies[:locale] == 'en' %>> English</option>
          </select>
          <noscript><input type="submit" value="submit"></noscript>
        </form>
        </dt>
      </dl>
      <br>
    </div>
    <hr class="footer-divider">
    <div class="contact clearfix">
      <p class="text">本站由</p>
      <a href="/billie66" class="tooltip member" title="billie66">
        <img alt="" src="http://gravatar.com/avatar/f09a460d9a928a27551d329613424d14.png?s=512&amp;d=retro" />
      </a>
      <a href="/happypeter" class="tooltip member" title="happypeter">
        <img alt="" src="http://gravatar.com/avatar/a92785d8d68f1d1d83b008574f8b5dba.png?s=512&amp;d=retro" />
      </a>
      <a href="/luckyyang" class="tooltip member" title="luckyyang">
        <img alt="" src="http://gravatar.com/avatar/e2a34813d392a89e91bcf5f4cfa02034.png?s=512&amp;d=retro" />
      </a>
      <p class="text">共同开发和维护，如果你发现任何问题，欢迎联系：billiecoder@gmail.com</p>
    </div>
  </div>
  <!-- end of footer -->

  <%= javascript_include_tag "application" %>
  <%= yield :template_js %>
</body>
</html>
