<!DOCTYPE html>
<html>
<head>
  <title>Onestep</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="navbar">
          <%= link_to image_tag("logo.png"), root_url %>

          <ul class="pull-right">
            <% if current_user %>
              <li> <%= link_to current_user.name, user_path(current_user) %> </li> 
              <li> <%= link_to t("logout"), logout_path %></li>
            <% else %>
              <li><%= link_to t("signup"), signup_path %> </li>
              <li><%= link_to t("login"), login_path %></li>
            <% end %>
          </ul>
    </div>
    <%= yield %>
  </div>
</body>
</html>
